body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: white;

	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	margin-top: 400px;

}
.full{
	background: #5eb2b3;
}